[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
subscriptions_filter = {git = "https://github.com/TomasPP/youtube_subscriptions_filter"}

[dev-packages]
"e1839a8" = {path = ".", editable = true}
black = "==18.6b4"

[requires]
python_version = "3.7"
